body{
    background-color: #24353f !important;
}
h1
{
    color: #17a2b8;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.text-center {
    text-align: center!important;
}
nav 
{
    background-color : #24353F !important;
   
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
nav a
{
    color: white !important;
}
.home{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
